{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RDS</title>
  <link rel="stylesheet" href="{% static 'css/flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous">
</body>
</html>